<nav class="navbar navbar-default navbar-static-top">
<div class="container">
  <ul class="nav navbar-nav">
	<li class="btn btn-default"><a href="<%= root_path %>">HOME</a></li>
	<li class="btn btn-default"><a href="<%= new_todo_path %>">NUEVO</a></li>
	<li class="btn btn-default"><a href="<%= todos_informes_path %>">LISTA</a></li>
   </ul>
</div>
</nav>